<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anime List</title>
  <meta name="description" content="A collection of popular anime and my personal favorites">
  <meta name="author" content="Michael Masterson ">
  <!-- styles -->
  <link href="./style.css" rel="stylesheet">
  <link rel='icon' type='image/ico' href='favicon.ico' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet' type='text/css'>
</head>

<body>
  <%- include ../navbar.ejs %>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>