<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anime List</title>
  <meta name="description" content="A collection of popular anime and my personal favorites">
  <meta name="author" content="Michael Masterson ">
  <!-- styles -->
  <link href="./css/style.css" rel="stylesheet">
  <link rel='icon' type='image/ico' href='favicon.ico' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Baloo+Bhaina' rel='stylesheet' type='text/css'>
</head>

<body>
  <script type="text/javascript" src='./js/index.js'></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <div id="particles-js"></div>

  <div id="overlay">
    <%- include ../partials/navbar.ejs %>
  </div>

  <div id="cards" class="container">
    <%- include ../partials/card-row.ejs %>
  </div>

  <script>
    particlesJS.load('particles-js', './particles.json', function () {
      console.log('callback - particles.js config loaded');
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</body>

</html>