* {
  font-family: 'Baloo Bhaina';
}

.nav-wrapper {
  background-color: black;
}

.larger-icon {
  font-size: 2em !important;
  margin-left: .5em;
  color: #73c1df;
}

.larger-icon:hover {
  color: white;
}

.brand-logo {
  font-family: 'Baloo Bhaina';
  margin-top: .15em;
  margin-left: .3em;
  color: #73c1df !important;
}

.brand-logo:hover {
  background-color: transparent;
  color: white !important;
}

#nav-mobile {
  margin-right: 2em;
}

#nav-mobile a {
  font-size: 1.5em;
  margin-top: .15em;
  color: #73c1df;
}

#nav-mobile a:hover {
  color: white;
}