<nav>
  <div class="nav-wrapper">
    <ul id="nav-logo" class="left">
      <li><a href="#"><i class="material-icons larger-icon">image</i></a></li>
      <li><a href="#" class="brand-logo">ANIME GALLERY</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav> 