<div id="cards" class="container">
  <div class="row">
    <div class="col s11 valign">
      <%- include ../partials/individual-card.ejs %>
      <%- include ../partials/individual-card.ejs %>
    </div>
  </div>
</div>