<nav>
  <div class="nav-wrapper">
    <ul id="nav-logo" class="left">
      <li><a href="#"><i class="material-icons larger-icon">image</i></a></li>
      <li><a href="#" class="brand-logo">ANIME LIST</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Top Current</a></li>
      <li><a href="/series">Top Series</a></li>
      <li><a href="#">Genres</a></li>
    </ul>
  </div>
</nav> 